.home{
    width: 100%;
    display: flex;
    background-color: #FBFBFB;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .Sidebar{
        width: 0%;
    }
  
    .content{
        width: 100%;
    }
  }
  
  // Laptop/Desktop: Always show sidebar, hide hamburger
  @media screen and (min-width: 769px) {
    .Sidebar{
        width: 15%;
    }
  
    .content{
        width: 90%;
        padding-left: 5%;
    
    }
}
  
  
