<div class="d-flex justify-content-end mx-3 mt-2"><p class="fs-5 fw-bold text-danger" style="cursor: pointer;" (click)="logOut()">Logout</p></div>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow p-4 text-center" style="max-width: 500px; width: 100%;">
    <div class="card-body">
      <h1 class="display-4 text-danger mb-3">🚫 Unauthorized</h1>
      <p class="lead mb-4">You don’t have permission to access this page.</p>
      <a routerLink="/" class="btn btn-primary w-100">
        <i class="bi bi-house-door-fill me-2"></i> Go Back to Home
      </a>
    </div>
  </div>
</div>
