<footer class="footer mt-3" style="font-family: Arial, Helvetica, sans-serif;">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4">
          <h6>ABOUT</h6>
          <ul class="list-unstyled">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">VasuKut Stories</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Corporate Information</a></li>
          </ul>
        </div>
  
        <!-- Group Companies -->
        
  
        <!-- Help Section -->
        <div class="col-md-4">
          <h6>HELP</h6>
          <ul class="list-unstyled">
            <li><a href="#">Payments</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Cancellation & Returns</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
  
        <!-- Consumer Policy -->
        <div class="col-md-4">
          <h6>CONSUMER POLICY</h6>
          <ul class="list-unstyled">
            <li><a href="#">Cancellation & Returns</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Grievance Redressal</a></li>
            <li><a href="#">EPR Compliance</a></li>
          </ul>
        </div>
      </div>
  
      <hr>
  
      <!-- Address and Social -->
      <div class="row">
        <div class="col-md-6">
          <h6>Mail Us:</h6>
          <p>
            VASU-KUT BHAARAT EXIM PRIVATE LIMITED V-99 VATAYAN, NEHRU ENCLAVE,GOMTINAGAR,
             LUCKNOW-221060,UTTAR PRADESH
          </p>
        </div>
        <div class="col-md-6">
          <h6>Registered Office Address:</h6>
          <p>
            VASU-KUT BHAARAT EXIM PRIVATE LIMITED V-99 VATAYAN, NEHRU ENCLAVE,GOMTINAGAR,
            LUCKNOW-221060,UTTAR PRADESH            <br>CIN: U51109KA2012PTC066107
            <br>Contact : <a href="tel:9792100356">+91 9792100356</a> / <a href="8806725144">+91 8806725144</a>
            <br>Email : <a href="mailto:vasukut.bhaarat@gmail.com">vasukut.bhaarat&#64;gmail.com</a> 
          </p>
        </div>
      </div>
  
      <hr>
  
      <!-- Social Media and Payment -->
      <div class="row">
        <div class="col-md-6">
          <h6>Social:</h6>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-md-6 text-end">
          <h6>Payment Options:</h6>
          <img src="paymentimg.jpg" alt="Payment Methods">
        </div>
      </div>
  
      <hr>
  
      <!-- Footer Links -->
      <div class="row">
        <div class="col text-center">
          <a href="#">Become a Seller</a> | <a href="#">Advertise</a> | <a href="#">Gift Cards</a> | <a href="#">Help Center</a>
          <br>© 2007-2025 www.vasu-kut.com
        </div>
      </div>
    </div>
  </footer>
  