<div class="filters">
    <label for="searchTerm">Search:</label>
    <input type="text" id="searchTerm" [(ngModel)]="searchTerm" (input)="onFilterChange()" placeholder="Search products..." />
  
    <label for="port">Port:</label>
    <select id="port" [(ngModel)]="selectedPort" (change)="onFilterChange()">
      <option value="">All Ports</option>
      <option *ngFor="let port of availablePorts" [value]="port">{{ port }}</option>
    </select>
  
    <label for="specification">Specification:</label>
    <select id="specification" [(ngModel)]="selectedSpecification" (change)="onFilterChange()">
      <option value="">All Specifications</option>
      <option *ngFor="let spec of availableSpecifications" [value]="spec">{{ spec }}</option>
    </select>
  
    <label for="category">Category:</label>
    <select id="category" [(ngModel)]="selectedCategory" (change)="onFilterChange()">
      <option value="">All Categories</option>
      <option *ngFor="let category of availableCategories" [value]="category">{{ category }}</option>
    </select>
  </div>
  
  <div class="product-cards">
    <div *ngFor="let product of products" class="product-card">
      <img *ngIf="product.productImageUrls.length > 0" [src]="product.productImageUrls[0]" alt="Product Image" class="product-image" />
      <h3>{{ product.name }}</h3>
    </div>
  </div>
  