<app-spinner *ngIf="isLoading"></app-spinner>
<app-navbar></app-navbar>
<div class="container mt-4" style="font-family: Arial, Helvetica, sans-serif; min-height: 100vh;" *ngIf="product">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLinkActive="router-link-active" routerLink="/" ><a class="text-primary text-underline" style="cursor: pointer;" >Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {{product.name}}
                </li>
      </ol>
    </nav>
  
    <div class="row">
      <!-- Product Images -->
      <div class="col-md-6">
        <div class="main-image">
          <img [src]="selectedImage" class="img-fluid" alt="Main Product Image" style="    width: 500px;
    height: 320px; object-fit: contain;">
        </div>
        
        <div class="thumbnail-images d-flex mt-2">
          <img *ngFor="let image of thumbnails" 
               [src]="image" 
               class="img-thumbnail me-2" 
               alt="Thumbnail"
               (click)="changeMainImage(image)">
        </div>
      </div>
  
      <!-- Product Details -->
      <div class="col-md-6">
        <h3 class="product-title"  >
          {{product?.name}}
        </h3>
      <div class="d-flex">
         <!-- HTML !-->
<button class="button-62 mt-2" role="button">Interested</button>

      </div>
    </div>
    </div>
    <div class="desc mt-5">
        <p class="description" [innerHTML]="product?.description" ></p>
    </div>
  </div>
  <div class=" min-vh-100" *ngIf="!product" style="min-height: 100vh;">

  </div>