<app-spinner *ngIf="loading"></app-spinner>
<app-navbar></app-navbar>
<div class="container py-3">
  <h4 class="text-center">My Orders</h4>
  <div class="order-card mb-3" *ngFor="let order of myOrders">
    <div class="order-header">
      <div><strong>ID:</strong> {{ order.transactionId }}</div>
      <div><strong>Date:</strong> {{ order.orderDate | date: 'short' }}</div>
    </div>

    <div class="order-body">
      <div class="order-address">
        <strong>Delivery To:</strong> {{ order.address.name }} | {{ order.address.mobile }}<br>
        {{ order.address.district }}, {{ order.address.state }}, {{ order.address.country }} - {{ order.address.zipCode }}
      </div>

      <div *ngFor="let item of order.items" class="order-item">
        <div class="item-img">
          <img [src]="imageUrl + item.product.firstImage" alt="Product">
        </div>
        <div class="item-details">
          <div class="item-name">{{ item.product.name }}</div>
          <div class="item-meta">
            <span>Qty: {{ item.quantity }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noOrders>
    <div class="text-center text-muted small mt-4">
      No orders found.
    </div>
  </ng-template>
</div>
