<div style="display: flex;justify-content: center;align-items: center;">
    <img  src="vasu-kutlogo.png" class="" style="width: 20vh;display: flex;justify-content: center;align-items: center;"/>
</div>

<div class="login-container">
    <div class="login-card">
      <h2 class="text-center">Sign in</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label class="form-label">Email or mobile phone number</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control">
        </div>
        <button type="submit" class="btn amazon-btn">Continue</button>
      </form>
      <div class="help-links">
        <a href="#">Need help?</a>
      </div>
    </div>
  
    <div class="new-account">
      <p>New to our platform?</p>
      <a class="btn create-account-btn" href="auth/register">Create your account</a>
    </div>
  </div>
  