
<div class=" container-fluid">
    <div class="d-flexjustify-content-center ">
        <marquee direction="left" scrollamount="5">
            "Security is not a product, but a process." - Bruce Schneier &nbsp;&nbsp;|&nbsp;&nbsp;
            "With great power comes great responsibility." - Uncle Ben &nbsp;&nbsp;|&nbsp;&nbsp;
            "The best way to predict the future is to invent it." - Alan Kay &nbsp;&nbsp;|&nbsp;&nbsp;
            "Log everything, trust nothing!" &nbsp;&nbsp;|&nbsp;&nbsp;
            "Knowledge is power, log analysis is wisdom."
        </marquee>        
        </div>
    <!-- Active Users Card -->
    <div class="d-flex justify-content-center mt-5 row">
        <div class="col-md-6 col-lg-5 ">
            <div class="card mt-2 status-card active-card text-center">
                <div class="card-body">
                    <i class="status-icon bi bi-person-check-fill"></i>
                    <h5 class="status-text mt-3">Active Users</h5>
                    <p class="status-count mb-0" id="activeCount">{{activeUserCount}}</p>
                </div>
            </div>
        </div>
    
        <!-- Inactive Users Card -->
        <div class="col-md-6 col-lg-5">
            <div class="card mt-2 status-card inactive-card text-center">
                <div class="card-body">
                    <i class="status-icon bi bi-person-x-fill"></i>
                    <h5 class="status-text mt-3">Inactive Users</h5>
                    <p class="status-count mb-0" id="inactiveCount">{{inactiveUserCount}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
