<app-spinner *ngIf="loading"></app-spinner>
<div style="background-color: #f0f0f0;font-family: sans-serif;" >
  <div class="container">
    <div class="row"> 
      <div class="col-md-6" style="margin-top: 3%;">
        <div class="registration-container">
          <div class="left-section">
            <div>
              <h2>SIGN UP NOW</h2>
              <p>AND GET ACCESS TO</p>
              <ul>
                <li>✅ Free Online Shop</li>
                <li>✅ Unlimited Product Posting</li>
                <li>✅ Instant Presence on Google</li>
                <li>✅ Verified Buying Leads</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="register-container">
          <div class="register-card">
            <div style="display: flex; justify-content: center; align-items: center;">
              <img src="vasu-kutlogo.png" style="width: 20vh;" />
            </div>
            <h2 class="text-center">Create account</h2>
            <div class="toggle-buttons">
              <button (click)="toggleUserType('buyer')" [class.active]="isBuyer" class="regitrationbtn">Buyer</button>
              <button (click)="toggleUserType('seller')" [class.active]="!isBuyer" class="regitrationbtn">Supplier</button>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            

              <div class="row">
                <div class="col-md-6">
                  <label class="form-label">Your name</label>
                  <input type="text" formControlName="fullName" class="form-control" placeholder="First and last name">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Country</label>
                  <select formControlName="Country" class="form-select">
                    <option *ngFor="let country of countries" [value]="country.name">
                      {{ country.name }}
                    </option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Mobile number with Country Code</label>
                  <table style="width: 100%">
                    <tr>
                      <td style="width: 40%;" >
                        <select formControlName="code" class="form-select"  >
                          <option *ngFor="let country of countries" [value]="country.code" disabled >
                            ({{ country.code }})
                          </option>
                        </select>
                      </td>
                      <td>
                        <input type="text" formControlName="phoneNumber" style="margin-left: 2%;" class="form-control" placeholder="Phone/Mobile Number">
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Email</label>
                  <input type="email" formControlName="email" placeholder="Eg.abcd123@gmail.com" class="form-control">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Password</label>
                  <input type="password" formControlName="password" class="form-control" placeholder="At least 6 characters">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Re-enter password</label>
                  <input type="password" formControlName="confirmPassword" placeholder="Confirm your password" class="form-control">
                </div>
<!-- 
                <div class="col-md-6">
                  Verify Captcha
                </div> -->

                <div style="text-align: center;">
                  <button type="submit" class="amazon-btn regitrationbtn">Register Now</button>
                </div>
              </div>
            </form>

            <div class="p-3">
              <div class="existing-account">
                Already have an account? <a routerLink="/auth/login">Sign in </a>
              </div>
              <div class="terms-text">
                By creating an account, you agree to our  
                <a href="#">Conditions of Use</a> and <a href="#">Privacy Notice</a>.
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
