<app-spinner *ngIf="loading"></app-spinner>
<div class="responsive-container mt-3 text-dark">
  <div class="topContent " style="background-color: #FBFBFB;">

    <div class="container-fluid px-4 py-3">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
        <div>
          <h3 class="fw-bold mb-1 fs-4">Product Listings</h3>
          <p class="text-muted mb-2 mb-md-0 fs-6">Manage your posted, draft, and all products in one place.</p>
        </div>
    
        <div class="d-flex flex-column flex-sm-row gap-2 mt-2 mt-md-0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by product name..." />
            <button class="btn btn-primary" type="button">Search</button>
          </div>
    
          <select class="form-select w-auto" aria-label="Filter product status" [(ngModel)]="filterStatus"
          (change)="onFilterChange()">
            <option  value="all">All</option>
            <option value="1">Posted</option>
            <option value="0">Draft</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <table mat-table [dataSource]="products" class="mat-elevation-z8 custom-table" multiTemplateDataRows
         style="background-color: #FBFBFB !important; color: #000000ba !important;" *ngIf="products.length">

    <!-- ID Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let product"> {{ product.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let product"> <span matTooltip="{{ product.name }}"  style="cursor: pointer;">
        {{ product.name | slice:0:32 }}{{ product.name.length > 32 ? '...' : '' }}
      </span>
    </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let product">
        <button mat-stroked-button color="primary" (click)="openPopup(product.description, 'description')">
          <mat-icon>visibility</mat-icon>
          <span> View</span>
        </button>
      </td>
    </ng-container>

    <!-- Images Column -->
    <ng-container matColumnDef="images">
      <th mat-header-cell *matHeaderCellDef> Images </th>
      <td mat-cell *matCellDef="let product">
        <button mat-stroked-button color="primary" (click)="openPopup(product.productImageUrls, 'images')">
          <mat-icon>image</mat-icon>
          <span> View</span>
        </button>
      </td>
    </ng-container>

    <!-- Video Column -->
    <ng-container matColumnDef="video">
      <th mat-header-cell *matHeaderCellDef> Video </th>
      <td mat-cell *matCellDef="let product">
        <button mat-stroked-button color="accent" (click)="openPopup(product.productVideoUrl, 'video')">
          <mat-icon>play_circle_filled</mat-icon>
          <span> Play</span>
        </button>
      </td>
    </ng-container>

    <!-- Min Price Column -->
    <ng-container matColumnDef="minPricePerUnit">
      <th mat-header-cell *matHeaderCellDef> Min Price </th>
      <td mat-cell *matCellDef="let product"> {{ product.minPricePerUnit }} </td>
    </ng-container>
 
    <!-- Max Price Column -->
    <ng-container matColumnDef="maxPricePerUnit">
      <th mat-header-cell *matHeaderCellDef> Max Price </th>
      <td mat-cell *matCellDef="let product"> {{ product.maxPricePerUnit }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let product" class="text-center">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="action-menu bg-light">
          <button mat-menu-item (click)="toggleProductStatus(product.id, product.showcaseStatus)">
            <mat-icon style="color: #0d6efd;">toggle_on</mat-icon>
            <span>Show/Hide</span>
          </button>
          <button mat-menu-item (click)="navigateToUpdate(product.id)">
            <mat-icon style="color: #0d6efd;">edit</mat-icon>
            <span>Update</span>
          </button>
          <button mat-menu-item (click)="onDeleteProduct(product.id)">
            <mat-icon style="color: red;">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
  </table>
  <div class="d-flex vh-100 justify-content-center align-item-center text-center mt-5" *ngIf="!products.length">
   <div class="mt-5">
   <p>Please Add Product!</p>
    <button routerLink="/seller/home/add-product" routerLinkActive="router-link-active"  class="btn btn-success ">Add Product</button>
   </div>
  </div>
</div>
