// .carousel {
//     height: 65vh; // 20% of viewport height
//     width: 60vw; // Full width
//     .carousel-inner {
//       height: 100%;
//     }
  
//     .carousel-item {
//       height: 100%;
  
//       img {
//         width: 100%;
//         height: 100%;
//         object-fit:cover; // Ensures images fit without distortion
//       }
//     }
//   }
  
//   @media (max-width: 768px) {  // Adjust for tablets and smaller screens
//     .carousel {
//        width: 100%;
//       height: 30vh; // Increase height to 30% for better mobile view
//     }
//   }
  
//   @media (max-width: 480px) {  // Adjust for mobile screens
//     .carousel {
//         width: 100%;
//       height: 40vh; // Increase height to 40% for smaller screens
//     }
//   }

//   .box {
//     width: 300px;
//     height: 420px;
//     border: 1px solid #ddd;
//     border-radius: 10px;
//     overflow: hidden;
//     padding: 10px;
//     margin: auto; // centers the box
//     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
//   }
  
//   .box img {
//     width: 100%;
//     height: 250px;
//     object-fit: contain;
//   }
  
//   .box-body {
//     padding: 10px;
//   }
  
//   .box-title {
//     font-size: 1.1rem;
//     font-weight: 600;
//     margin: 10px 0;
//   }
  
//   .price {
//     margin-right: 10px;
//   }
  
//   .discounted-price {
//     font-weight: bold;
//     color: #28a745;
//   }
//   .offersProduct{
//     height: 65vh;
//     display: flex
// ;
//     justify-content: center;
//     align-items: center;
//     padding: 0px 10px;
//     background-color: red;
//   }
@media (min-width: 980px) {  // Adjust for mobile screens
  .carouselExampleIndicators {
    height: 40vh;
    width: 100%;
  }
    }


.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Makes the image cover the entire area */
}