
@media (min-width: 980px) {  // Adjust for mobile screens
  .carouselExampleIndicators {
    height: 40vh;
    width: 100%;
  }
    }

    @media (max-width: 980px) {  // Adjust for mobile screens
      .carouselExampleIndicators {
        height: 20vh;
        width: 100%;
      }
        }
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Makes the image cover the entire area */
}