/* You can add global styles to this file, and also import other style files */
$primary-color: #181c16;
$secondary-color: #0693e3;
$background-color: #f5f5f5;
$text-color: #fff;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
